<!DOCTYPE html>
<html lang="en">


  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.description }}">
 
    <title>
      {{ page.title }}
    </title>

    <script src="/bootstrap.js"></script>

    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/syntax.css">
    <link rel="stylesheet" href="/shtlay.css">
    <link rel="icon" href="{{ page.iconfile }}" type="image/x-icon">
    <link rel="canonical" href="{{ page.canonical }}">

  </head>


  <body>

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ page.brandlink }}">
          {{ page.brand }}
        </a> 
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
{% if page.navitems %}
  {% include {{ page.navitems }} %}
{% endif %}
          </ul>
        </div>
      </div>
    </nav>
  
    <header>
      <div class="container">
        <div class="row">
          <div class="col-lg-9 col-md-10 mx-auto">
            <div class="heading">
              <h1>
                {{ page.heading }}
              </h1>
              <span class="subheading">
                {{ page.subheading }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div id="content">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 col-md-10 mx-auto">
{{ content }}
          </div>
        </div>
      </div>
    </div>
 
    <hr>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-9 col-md-10 mx-auto">
            <ul class="list-inline">
{% if page.footeritems %}
  {% include {{ page.footeritems }} %}
{% endif %}
            </ul>
          </div>
        </div>
      </div>
    </footer>

  </body>


</html>
