<!DOCTYPE html>
<html lang="en">


  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ page.description }}" />
 
    <title>
      {{ page.title }}
    </title>

    <link rel="stylesheet" href="/shtlay.css" />
    <link rel="icon" href="{{ page.iconfile }}" type="image/x-icon" />
    <link rel="canonical" href="{{ page.canonical }}" />

    <script defer src="/shtlay.js"></script>

  </head>


  <body>

    <nav>
      <a href="{{ page.brandlink }}">{{ page.brand }}</a>
      <button type="button">
        <span class="hamburger"></span>
      </button>
      <ul class="nobullets tablist" collapsed-on-narrow-screens="false">
{% if page.navitems %}
  {% include {{ page.navitems }} %}
{% endif %}
      </ul>
    </nav>

    <div id="layout">
      <header>
        <div class="heading">
          <h1>
            {{ page.heading }}
          </h1>
          <span class="subheading">{{ page.subheading }}</span>
        </div>
      </header>
      <div id="content">
        {{ content }}
      </div>
      <div class="separator"></div>
      <footer>
        <ul class="nobullets">
{% if page.footeritems %}
  {% include {{ page.footeritems }} %}
{% endif %}
        </ul>
      </footer>
    </div>

  </body>


</html>
